@charset "utf_8";

#cases {
    margin: 40px 0;
    width: 100%;
}

#cases ul {
    width: 100px;
    display: flex;
    list-style: none;
}

#cases ul > li {
    width: 33%;
    margin: 20px;
}

.case-card {
    background-color: #FFFFFF;
    min-width: 400px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.05);
}

.case-img {
    width: 100%;
}

.case-info {
    padding: 10px 20px;
}

.case-name {
    color: #2710d5;
    font-size: 19px;
}

.case-content {
    font-size: 14px;
}

h2::after {
    content: url(images/line.png);
    margin-left: 10px;
}